body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Top{
    display: inline-flex;
    font-size: large;
}
.Header {
    padding: 100px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.WorkWave{
    text-align: left;
    color: rgb(255, 132, 0);
}
.header-buttons{
    padding: 20px 50px;
    display: flex;
}
.Info {
    text-align: left;
}
.Benefits{
    padding: 100px;
    text-align: center;
    background-color: rgb(237, 237, 237);
}
.Articles{
    padding: 100px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.ReadyToHire{
    padding: 100px;
    text-align: center;
    background-color: rgb(236, 236, 236);
}
.GetStarted{
    padding: 100px;
    text-align: center;
    background-color: rgb(255, 255, 255);
}