body{
  margin: 0;
}
.topnav{
    margin: 0;
    padding: 0;
    background-color: rgb(1, 11, 98);
    color: white;
  }
.topnav a {
  color: #f2f2f2;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
}
.topnav-items {
  display: flex;
}
.topnav-items button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}