.topnav{
    padding: 20px;
    background-color: rgba(10, 10, 10, 0.87);
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }
  .logo {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  .search-bar {
    display: flex;
    align-items: center;
  }
  .search-bar input[type="text"] {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
    border: 1px solid #fcfcfc;
    border-radius: 4px;
  }
  .search-bar button {
    background-color: #333;
    border: none;
    padding: 6px 10px;
    margin-left: 5px;
    cursor: pointer;
  }
  .icons button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
  }